title: My Tech Blog
email: mikethesnowman1@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  This is my tech blog. I'll try to update with some useful content and information.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://wtfacoconut.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  wtfacoconut

# Build settings
theme: jekyll-theme-merlot
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
